<div class="page-header">
    <h2>Add Product</h2>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Add new product
        </div>
        <div class="panel-body">
            <form name="addProductForm" ng-submit="addProductForm.$valid && ctrl.addProduct()" novalidate>
                <div class="form-group">
                    <label>UPC</label>
                    <input name="upc12" class="form-control" type="text" ng-model="ctrl.product.upc12" ng-pattern="/^[0-9]*$/" required>
                    <div data-ng-show="addProductForm.upc12.$touched || addProductForm.$submitted">
                        <div class="validation" data-ng-show="addProductForm.upc12.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> UPC12 is required.
                        </div>
                        <div class="validation" data-ng-show="addProductForm.upc12.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> UPC12 should contain digits only
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Brand</label>
                    <input name="brand" class="form-control" minlength="2" type="text" ng-model="ctrl.product.brand" required>
                    <div data-ng-show="addProductForm.brand.$touched || addProductForm.$submitted">
                        <div class="validation" data-ng-show="addProductForm.brand.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Brand is required.
                        </div>
                        <div class="validation" data-ng-show="addProductForm.brand.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Brand must be at least 2 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input name="name" class="form-control" minlength="2" type="text" ng-model="ctrl.product.name" required>
                    <div data-ng-show="addProductForm.name.$touched || addProductForm.$submitted">
                        <div class="validation" data-ng-show="addProductForm.name.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Name is required.
                        </div>
                        <div class="validation" data-ng-show="addProductForm.name.$error.minlength">
                            <span class="glyphicon glyphicon-alert"></span> Name must be at least 2 characters long.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Save" ng-disabled="!addProductForm.$valid || ctrl.showSuccessMessage">
                    <button type="button" class="btn btn-default" ng-click="ctrl.cancelAdd()">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div ng-show="ctrl.showSuccessMessage">
    <div class="alert alert-success alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{ ctrl.message }}
    </div>
</div>

<div ng-show="ctrl.showFailureMessage">
    <div class="alert alert-danger alert-dismissable">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failure!</strong> {{ ctrl.message }}
    </div>
</div>