<div class="page-header">
    <h2>List of Products</h2>
</div>

<div class="progress" ng-hide="ctrl.showResults || ctrl.showMessage">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
        style="width:70%">
        Fetching list of groceries
    </div>
</div>
<div class="well">
    <form>
        <div class="form-group">
            <input type="text" ng-model="ctrl.term" class="form-control" placeholder="input search term">
            <span class="help-block">Search by brand or product name</span>

            <label class="radio-inline"><input type="radio" name="optradio" value="brand" ng-model="ctrl.selected">Brand</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="name" ng-model="ctrl.selected">Product Name</label>

        </div>
        <input type="submit" class="btn btn-success" value="search" ng-click="ctrl.searchProducts()">
    </form>
</div>

<div ng-show="ctrl.showMessage">
    <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ctrl.message}}</strong> Please try again ...
    </div>
</div>

<div ng-show="ctrl.showResults">
    <div>
        <p class="bg-info"> Displaying {{ctrl.search.offset+1}} to {{ctrl.search.offset+ctrl.search.limit
            < ctrl.count ? ctrl.search.offset+ctrl.search.limit : ctrl.count }} of {{ctrl.count}} results</p>
    </div>

    <div class="text-center">
        Show number of results per page:
        <select ng-model="ctrl.numperpage" ng-change="ctrl.refresh()"> 
                <option value="10">10</option>
                <option value="20" selected>20</option>
                <option value="50">50</option>
        </select>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th ng-click="ctrl.sortBy('upc12')">UPC <i ng-show="ctrl.search.orderby=='upc12'" class="fa" ng-class="{true : 'fa-caret-up', false:'fa-caret-down'}[ctrl.search.order == 'asc']"></i></th>
                <th ng-click="ctrl.sortBy('brand')">Brand <i ng-show="ctrl.search.orderby=='brand'" class="fa" ng-class="{true : 'fa-caret-up', false:'fa-caret-down'}[ctrl.search.order == 'asc']"></i></th>
                <th ng-click="ctrl.sortBy('name')">Name <i ng-show="ctrl.search.orderby=='name'" class="fa" ng-class="{true : 'fa-caret-up', false:'fa-caret-down'}[ctrl.search.order == 'asc']"></i></th>
                <th class="text-center">
                    <button ng-click="ctrl.addProduct()" type="button" class="btn btn-primary btn-md">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in ctrl.products">
                <td>{{product.id}}</td>
                <td>
                    <img src="http://www.barcodes4.me/barcode/c128a/{{product.upc12}}.png?IsTextDrawn=1" alt=""> </td>
                <td>{{product.brand}}</td>
                <td>{{product.name}}</td>
                <td class="text-center"> <button class="btn btn-info btn-md" ng-click="ctrl.editProduct(product.id)">edit</button></td>
            </tr>
        </tbody>
    </table>

    <ul class="pager">
        <li class="previous" ng-hide="ctrl.search.offset == 0" ng-click="ctrl.loadPrevious()"><a href="#">Previous {{ctrl.search.limit}}</a></li>
        <li class="next" ng-show="ctrl.search.offset + ctrl.search.limit < ctrl.count" ng-click="ctrl.loadNext()"><a href="#">Next {{ctrl.search.offset+2*ctrl.search.limit < ctrl.count ? ctrl.search.limit : ctrl.count - ctrl.search.limit - ctrl.search.offset}}</a></li>
    </ul>